<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>M&amp;S Canteen Menu</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>

  </head>

  <body>


    <section class="container">
      <div class="row">
        <h1 class="date"></h1> 
        <nav>
            <a href="#" class="prev btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>        
            <a href="#" class="next btn btn-default">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </nav>
        <ul class="productContainer row"></ul>
      </div>   
    </section>
    
    <footer class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="copy">
          <h5>
            <a href="https://github.com/lucatrincauk/M-S-Menu-app">
              <span class="glyphicon glyphicon-cutlery"></span> M&amp;S Menu App 0.2
            </a>
          </h5>
          <a href="mailto:luca.trinca@marks-and-spencer.com">
            <span class="glyphicon glyphicon-comment"></span> Luca Trinca
          </a>
        </div>
        <p>Data may not be accurate.</p>
      </div>
    </footer>

    <script type="text/template" id="productTemplate">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h3 class="<%= id %>"><%= location %></h3>
        </a>
        <a href="#" class="list-group-item">
          <strong>Protein Soup:</strong> <%= soup1 %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Simple Soup:</strong> <%= soup2 %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Theatre Bar</strong> <%= theatre %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Bistro</strong> <%= bistro %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Vegetarian</strong> <%= vegetarian %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Classic</strong> <%= classic %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Traditional</strong> <%= traditional %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Rotisserie</strong> <%= rotisserie %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Plain &amp; Simple</strong> <%= plain %>
        </a>
        <a href="#" class="list-group-item">
          <strong>Accompaniments</strong> <%= accompaniments %>
        </a>
      </div>
    </script>  

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="bb.js"></script>

  </body>
</html>
